#!/usr/bin/env ruby

compile '/**/*.html' do
  filter :erb
  layout '/default.*'
end

compile '/posts/*' do
  filter :kramdown
  layout '/post.*' 
  layout '/default.*'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\.md/.match(item.identifier).captures

  "/#{y}/#{m}/#{slug}/index.html"
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
