.navbar-brand {
  padding: 6px 8px 12px 12px !important;
}

.btn-social-icon {
  margin: 10px 0px 0px 8px;
  background-color: white;
}

.fa-twitter, .fa-facebook {
  margin-top: 3px;
}

aside {
  color: #888;
}

.post-image {
  width: 100%;
  max-width: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.post-thumb {
  height: 200px;
  margin-top: 24px;
}

.post-image-full {
  height: 600px;
}

.post-link {
  text-align: right;
}

a {
  color: #2f2ba2;
  text-decoration: underline;
}